<div class="row d-flex justify-content-center align-items-center p-4">
  <div class="col-5">
    <h1 class="text-center mb-4"><%= t('event.create') %></h1>
    <%= render partial: 'events/partials/form', locals: { event: @event } %>
  </div>
</div>
