<div class="d-flex align-items-center">
  <%= link_to t('user.login'), new_user_session_path, class: 'btn btn-success px-3 me-2' %>
  <%= link_to t('user.sign_up'), new_user_registration_path, class: "btn btn-primary" %>
</div>
