<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuProfile" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuProfile">
    <li><%= link_to t('user.edit_profile'), edit_user_registration_path, class: "dropdown-item" %></li>
    <div class="dropdown-divider"></div>
    <li>
      <%= button_to t('user.sign_out'), destroy_user_session_path, method: :delete, 
          class: "dropdown-item btn btn-danger" %>
    </li>
  </ul>
</div>
