<div class="row d-flex justify-content-center align-items-center p-4">
  <h1 class="text-center"><%= t('category.edit') %></h1>
  <div class="col-3">
    <%= render partial: 'categories/partials/form', locals:{ category: @category } %>
  </div>
</div>
